.info {
  height: 60vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding-top: 3rem;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 2.2rem;
    margin-bottom: 3rem;
  }
  &__content {
    width: 80%;
    height: 60%;

    .info__cards {
      display: flex;
      justify-content: space-evenly;
      height: 100%;

      .info__card {
        width: 10rem;
        .card__head {
          border: var(--color-primary) 4px solid;
          border-radius: 9%;
          width: 10em;
          height: 10rem;
          margin-bottom: 1rem;
        }
        .card__content {
          text-align: center;
        }
      }
    }
  }
}
