.main {
  height: 60vh;
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    height: 60%;
    width: 75%;
    display: flex;
    .left {
      padding-top: 3rem;
      flex: 1;
      h1 {
        color: var(--color-white);
        font-size: 3rem;
        font-weight: 900;
      }
      h2 {
        color: var(--color-light-gray);
        opacity: 80%;
        font-size: 1.1rem;
        margin-bottom: 1rem;
      }
    }
    .right {
      height: 80%;
      margin-left: 3rem;
      background-color: var(--color-gray);
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-white);
    }
  }
}
