.quote {
  background-color: var(--color-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    margin: 5rem auto;
    width: 50%;
    height: 50%;
  }
  p {
    font-size: 1.6rem;
    font-weight: lighter;
  }
  .sign {
    font-weight: 900;
    font-size: 1.2rem;
    margin: 1rem 2rem 1rem 0;
    float: right;
  }
  @media only screen and (max-width: $bp-large) {
    .content {
      width: 80%;
      p {
        font-size: 1.2rem;
      }
    }
  }
}
